<section id="Organizadores" class="speakers-section">
    <h2 class="text-center mb-4">ORGANIZADORES</h2>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="/imagenes/Alfredo.jfif" class="card-img-top" alt="Datanilo">
                    <div class="card-body">
                        <h5 class="card-title">Alfredo Ames</h5>
                        <p class="card-text">Bussines Intelligence Fundador de la comunidad Data Revolution LATAM)</p>
                        <a href="https://www.linkedin.com/in/afredoamez/" target="_blank"
                        class="btn btn-outline-primary me-2">
                        <i class="bi bi-linkedin"></i> LinkedIn
                    </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="/imagenes/Datanilo.jfif" class="card-img-top" alt="Datanilo">
                    <div class="card-body">
                        <h5 class="card-title">Danilo Chavez</h5>
                        <p class="card-text">Analista Datos Jr (Fundador de la comunidad Datanilo Comunity) </p>
                        <a href="https://www.linkedin.com/in/daniloyamir/" target="_blank"
                        class="btn btn-outline-primary me-2">
                        <i class="bi bi-linkedin"></i> LinkedIn
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
.speakers-section{
  height: 65vh;
  text-align: center;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
h2{
  font-size: 50px;
  width: 100%;
  background-color:#021d59 ;
  padding: 20px;
  color: #fff;
}
</style>