<section id="Expositores" class="speakers-section">
  <h2 class="text-center mb-4">EXPOSITORES</h2>
  <div class="container">
    <!-- Fila inferior con 3 cards -->
    <div class="row justify-content-center">
      <div class="col-md-4 d-flex justify-content-center mb-4">
        <div class="card card-fixed-size">
          <img
            src="/imagenes/Gera.jfif"
            class="img-fluid work-img card-img-top"
            alt="Gera Flores"
          />
          <div class="card-body text-center">
            <h5>Gera Flores</h5>
            <p>Industrial Engineer MBA - Data</p>
            <a
              href="https://www.linkedin.com/in/gflores1092/"
              target="_blank"
              class="btn btn-outline-primary"
            >
              <i class="bi bi-linkedin"></i> LinkedIn
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center mb-4">
        <div class="card card-fixed-size">
          <img
            src="/imagenes/jonny.jpg"
            class="img-fluid work-img card-img-top"
            alt="Luisa Moscoso"
          />
          <div class="card-body text-center">
            <h5>Jonny Chambi</h5>
            <p>CEO DMC - Data Science</p>
            <a
              href="https://www.linkedin.com/in/jonnychambi/"
              target="_blank"
              class="btn btn-outline-primary"
            >
              <i class="bi bi-linkedin"></i> LinkedIn
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center mb-4">
        <div class="card card-fixed-size">
          <img
            src="/imagenes/LuisaMoscoso.jfif"
            class="img-fluid work-img card-img-top"
            alt="Luisa Moscoso"
          />
          <div class="card-body text-center">
            <h5>Luisa Moscoso</h5>
            <p>Business/Data Analytics</p>
            <a
              href="https://www.linkedin.com/in/milagrosluisamoscoso/"
              target="_blank"
              class="btn btn-outline-primary"
            >
              <i class="bi bi-linkedin"></i> LinkedIn
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Fila superior con 2 cards -->
    <div class="row justify-content-center mb-4">
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card card-fixed-size">
          <img
            src="/imagenes/Renzo.jfif"
            class="img-fluid work-img card-img-top"
            alt="Renzo Roca"
          />
          <div class="card-body text-center">
            <h5>Renzo Roca</h5>
            <p>Data Steward BCP</p>
            <a
              href="https://www.linkedin.com/in/rocarenzo/"
              target="_blank"
              class="btn btn-outline-primary"
            >
              <i class="bi bi-linkedin"></i> LinkedIn
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card card-fixed-size">
          <img
            src="/imagenes/jhon.png"
            class="img-fluid work-img card-img-top"
            alt="Jhon Velasque"
          />
          <div class="card-body text-center">
            <h5>Jhon Velasque</h5>
            <p>Data Analytics Jr.</p>
            <a
              href="https://www.linkedin.com/in/jhon-velasque/"
              target="_blank"
              class="btn btn-outline-primary"
            >
              <i class="bi bi-linkedin"></i> LinkedIn
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .card-fixed-size {
    width: 300px; /* Ajusta el ancho de la tarjeta */
    height: 400px; /* Ajusta la altura de la tarjeta */
  }

  .card-img-top {
    object-fit: cover; /* Asegura que la imagen cubra el área sin deformarse */
    height: 250px; /* Ajusta la altura de la imagen dentro de la tarjeta */
    width: 100%; /* Asegura que la imagen ocupe todo el ancho de la tarjeta */
  }

  .card-body {
    padding: 15px;
  }

  .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  h2 {
    font-size: 50px;
    width: 100%;
    background-color: #021d59;
    padding: 20px;
    color: #fff;
  }
</style>
